<link rel="stylesheet" href="/css/mysheet.css">



<div class="about-section" style="margin:10px; color:brown; background-color:white">
    <h1>About Us</h1>
    <p>
        BDS is a team of highly motivated PUCITians with the sole purpose of connecting the needy patients with potential blood donors. One of our primary objectives is to keep and maintain database of volunteering students who are willing to donate their blood when needed. Our team tries our best to spread awareness among students all across the campus and motivate new donors to register for blood donation every year. For this purpose, an annual blood camp and seminar is held to appreciate top donors from previous years and encourage new ones to contribute in future.

        P.S: BDS is an independent society, discretely functional only in PUCIT with no affiliations to any political or non-political outside agendas.
    </p>

</div>

<h2 style="text-align:center; margin-top:10px; color:brown">Our Team</h2>
<div class="row" style="text-align:center; margin:20px; color:brown">
    <div class="column">
        <div class="card">
            <img src="/Images/person.jpg" alt="Ali " style="width:100%; height:auto">
            <div class="container">
                <h2 style="margin-top:10px">Nouman Riaz</h2>
                <p class="title">CEO & Founder</p>
                <p>Software Engineer</p>
                <p>noumanriaz@gmail.com</p>

            </div>
        </div>
    </div>


    <div class="column">
        <div class="card">
            <img src="/Images/person.jpg" alt="Khazaina" style="width:100%; height:auto">
            <div class="container">
                <h2 style="margin-top:10px">Ghulam Shabbir</h2>
                <p class="title">Director</p>
                <p>IT Professional</p>
                <p>ghulamshabbir@gmail.com</p>

            </div>
        </div>
    </div>


    <div class="column">
        <div class="card">
            <img src="/Images/person.jpg" alt="Abdullah" style="width:100%; height:auto" />
            <div class="container">
                <h2 style="margin-top:10px">Saqib Ur Rehman</h2>
                <p class="title">Manager</p>
                <p>IT Professional and Manager</p>
                <p>saqib@gmail.com</p>

            </div>
        </div>
    </div>
</div>

<div class="jumbotron" style="background-color:brown; color:whitesmoke; margin:50px">

    <h4 style="text-align:center">Your donation can save a life!!!</h4>
    <p style="text-align:center"> Copyrights 2021</p>

</div>
