
<h2 style="color:whitesmoke; background-color:brown; text-align:center; margin-left:40%; margin-right:40%; border-radius:10px">Admin Servies</h2>
<h5 style="color:brown; text-align:center; margin:50px; font-size:xx-large">What would you like to do?</h5>

<div class="container col-sm-6 row justify-content-md-center " style="margin:0% 25% 0% 25%">


    <div class="col-sm-2">
        <form action="/Home/UpdateDonor">

            <div class="form-check" >
                <label class="form-check-label">
                    <button type="submit" style="align-self:center" class="btn btn-danger">Update</button>
                </label>

            </div>
        </form>
    </div>


    <div class="col-sm-2">

        <form action="/Home/DeleteDonor" method="get">

            <div class="form-check" >
                <label class="form-check-label">
                    <button type="submit" style="align-self:center" class="btn btn-danger">Delete</button>
                </label>

            </div>
        </form>
    </div>

    <div class="col-sm-2">
        <form action="/Home/SearchDonor">

            <div class="form-check" >
                <label class="form-check-label">
                    <button type="submit" style="align-self:center" class="btn btn-danger">Search</button>
                </label>

            </div>
        </form>


    </div>
</div>
<form>

    <div class="jumbotron" style="background-color:brown; color:whitesmoke; margin:50px">

        <h4 style="text-align:center">Your donation can save a life!!!</h4>
        <p style="text-align:center"> Copyrights 2021</p>

    </div>
</form>



