
<div class="container" style="margin-left:50px">
    <h2 style="color:brown">Sorry!</h2>
    <p style="align-content:flex-start;">
       
        Admin not found.
    </p>
</div>

<div class="jumbotron" style="background-color:brown; color:whitesmoke; margin:50px">

    <h4 style="text-align:center">Your donation can save a life!!!</h4>
    <p style="text-align:center"> Copyrights 2021</p>

</div>