<!-- Include the stylesheet -->
<link rel="stylesheet" href="/css/mysheet.css">

<div class="about-section" style="background-color:brown; color:whitesmoke; margin:50px">
    <h1>Contact Us</h1>

    <h3>Main Address</h3>
    <p>
        Faculty of Computing and Information Technology, Shahrahe Quaid-e-Azam Allama Iqbal Campus
        (Old Campus) Lahore, Pakistan
    </p>

    <h3>Email</h3>
    <p>
        blooddonorsociety@pucit.com
    </p>

    <h3>Secondary Email</h3>
    <p>
        noumanriaz@pucit.com
    </p>

    <h3>Secondary Address</h3>
    <p>
        F7J8+53W, Samsani Road, Quaid-i-Azam Campus, Lahore, Punjab
    </p>

    <h3>Program Coordinator Officer</h3>
    <p>
        99212240,50 –ext-191
    </p>

    <h3>Head of Account Branch</h3>
    <p>
        99212240,50 –ext-191
    </p>

    <!-- Additional Dummy Attributes -->
    <h3>Phone Number</h3>
    <p>
        03123456789
    </p>

    <h3>Phone Number 2</h3>
    <p>
        03234567432
    </p>
</div>

<div class="jumbotron" style="background-color:brown; color:whitesmoke; margin:50px">

    <h4 style="text-align:center">Your donation can save a life!!!</h4>
    <p style="text-align:center"> Copyrights 2021</p>

</div>
