

<div class="container">
    <h2 style="color:brown">Home</h2>
    <p style="align-content:flex-start">
        Donating blood is one of the greatest ways to help humankind. By doing so, we save someone’s precious life, and that is a blessing in itself. There are people who hesitate to donate blood if they aren’t given monetary returns or because of the various myths surrounding it.

        Blood donation is healthy for our body because it makes our blood less viscose which will help in combating cardiovascular and other diseases. 38% of the population all over the world is capable of donating blood; however, less than 10% do so. There are many people who die because of shortage of blood while undergoing treatment.

        Every year on the 14th of June World Blood Donor Day is celebrated to encourage blood donation and appreciate or thank the blood donors all over the world.

        Below are some beautiful quotes that will encourage you to donate blood and be a hero in someone’s life.
    </p>

    <div class="media">
        <img class="align-self-center mr-3" src="/Images/HomePic.jpg">
        <div class="media-body" >
            <h5 class="mt-0" style="color:brown">Slogan</h5>
            <p>"Sometimes money cannot save life but donated blood can! "A drop of blood can save a life! Don't waste it and donate blood."</p>

            <h5 class="mt-0" style="color:brown">Motivation To Donate</h5>
            <p>We found that donors desire to help a family member or a friend in need of blood was the most cited motivator for blood donation in this study followed by a positive attitude of staff at the donor clinic, the desire to help other people, and a reminder to donate when there is a shortage of blood.</p>

            <h5 class="mt-0" style="color:brown">Why you should donate blood?</h5>
            <p>To give blood you need neither extra strength nor extra food, and you will save a life.</p>
            <p>If you're a blood donor, you're a hero to someone, somewhere, who received your gracious gift of life.</p>
            <p>A bottle of blood saved my life, was it yours.</p>
            <p>Every blood donor is a life saver.</p>

        </div>


       
    </div>
    

    <div class="jumbotron" style="background-color:brown; color:whitesmoke; margin:50px">

        <h4 style="text-align:center">Your donation can save a life!!!</h4>
        <p style="text-align:center"> Copyrights 2021</p>

    </div>
</div>
