
@model BDS.Models.Donor
@*!--form--!*@
<div class="container" style="margin:50px">
    <h2>Update Donor</h2>

    <form action="/Home/FindDonor" method="post" class="needs-validation" novalidate>
        <div class="form-group">
            

            <label for="mail">Email:</label>
            <input type="email" class="form-control" id="mail" placeholder="Enter email" name="Email" required>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field/Invalid.</div>
        </div>

        <button type="submit"  style="align-self:center" class="btn btn-danger">Find!!!</button>
    </form>


    </div>


  
<div class="jumbotron" style="background-color:brown; color:whitesmoke; margin:50px">

    <h4 style="text-align:center">Your donation can save a life!!!</h4>
    <p style="text-align:center"> Copyrights 2021</p>

</div>

<script>
    // Disable form submissions if there are invalid fields
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Get the forms we want to add validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>



